.custom-search {
  position: relative;
  width: 300px;
  font-size: 12px;
  padding: 0px 1px;
}
.custom-search-input {
  width: 100%;
  border: 1px solid #373737;
  border-radius: 100px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.custom-search-botton {
  position: absolute;
  right: 4px;
  top: 2px;
  bottom: 3px;
  border: 0;
  background: #373737;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 20px;
  border-radius: 100px;
  font-weight: bold;
  z-index: 2;
}
